body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, #DBE7FC, #3e59b3);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    padding: 40px;
}

h2 {
    font-size: xx-large;
    color: #333;
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    flex: 1;
    margin-top: 30px;
    margin-left: 80px;
}

.image {
    flex: 1;
}

.social-icons a {
    color: #333;
    font-size: 30px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #000000; /* Change to the desired hover color */
}

.mail {
    color: #333;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s ease;
    align-items: center;
}

.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.cv a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #fff;
    color: #3e59b3;
    border: 2px solid #3e59b3;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cv a:hover {
    background-color: #3e59b3;
    color: #fff;
}

#me {
    width: 40%;
    height: auto;
    border: 10px solid #fff;
    border-radius: 200px;
    display: block;
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: clamp(3rem, 10vw, 4rem);
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

h1:hover {
    background-color: white;
    color: black;
}

.bigHome {
    font-size: 2.5em;
}

.mediumHome {
    font-size: 1.15em;
}

.center {
    text-align: center;
}

.text, .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-content {
    line-height: 1.6;
    text-align: justify;
    font-size: 18px;
}

.about-content strong {
    color: #3e59b3; /* Change the color of strong elements (e.g., bold text) */
}

.about-content em {
    font-style: italic; /* Italicize emphasized text */
}

.project {
    margin-bottom: 20px;
}

.big {
    font-size: larger;
}

.medium {
    font-size: medium;
}

.timeline {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.timeline-item {
    position: relative;
    flex: 1;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    margin-top: 40px;
    text-align: center;
    transition: transform 0.3s ease;
}

.timeline-item:hover {
    transform: scale(1.1);
}

.timeline-item:hover:before {
    background: #fff;
}

.timeline-item:hover p {
    opacity: 1;
}

.timeline-item p {
    opacity: 0;
    transition: opacity 0.3s ease;
}

h3 {
    color: #333;
}

#path {
    padding-top: 20px;
    padding-bottom: 40px;
}

.image-container {
    position: relative;
    overflow: hidden;
    height: 250px;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
    margin: -150px 0 0 0; 
}

.text-content {
    position: absolute;
    top: 0;
    left: 10;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.timeline-item:hover .image-container img {
    opacity: 0;
}

.timeline-item:hover .text-content {
    opacity: 1;
}

.certificate-box {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    height: 120px;
}

.certificate-box:hover {
    transform: scale(1.05);
}

.certificate-box h3 {
    color: #333;
}

.certificate-box p {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.certificate-box:hover p {
    opacity: 1;
}

#certs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    padding-top: 20px;
    padding-bottom: 40px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    height: 360px;
    position: relative;
    width: 500px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-right: 120px;
    margin-bottom: 50px;
}

.card:hover {
    transform: scale(1.05);
}

.card-content {
    position: relative;
    z-index: 2;
}

.card-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.card:hover .card-content img {
    opacity: 0;
}

.card-content h3,
.card-content h4 {
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 0;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-content h3 {
    padding-top: 120px;
}

.card:hover .card-content h3,
.card:hover .card-content h4 {
    opacity: 1;
}

#cards:hover > .card::after {
    opacity: 1;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    z-index: 3;
}
  
.card::after {  
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.4),
        transparent 40%
    );
    z-index: 1;
}

.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
