/* Estilos globais */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(20, 20, 20) 0%, rgb(0, 0, 0) 99.4%);
}

/* Estilos para o cursor */
.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 1000;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

/* Animações para o cursor */
@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* Classe para expandir o cursor */
.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid #cccccc;
}

/* Classe para ocultar elementos */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

/* Estilos para redução de animação dos elementos quando ocultados */
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/* Classe para mostrar elementos ocultados */
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Estilos para o conteúdo principal */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos para as secções */
section {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Estilos para os títulos das secções */
h2 {
    font-size: xx-large;
    color: #cccccc;
}

/* Estilos para a secção principal */
#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

/* Estilos para o texto */
.text {
    flex: 1;
    margin-top: 100px;
    margin-left: 80px;
    color: #cccccc;
}

/* Estilo para a foto de perfil */
.image {
    flex: 1;
}

/* Estilos para os ícones sociais */
.social-icons a {
    color: #cccccc;
    font-size: 30px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

/* Estilos para os ícones sociais quando em hover */
.social-icons a:hover {
    color: #444444;
}

/* Estilos para o endereço de e-mail */
.mail {
    color: #cccccc;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s ease;
    align-items: center;
}

/* Estilos para a disposição do botão do CV */
.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Estilos para o botão do CV */
.cv a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #fff;
    color: #696969;
    border: 2px solid #696969;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos para o botão do CV quando em hover */
.cv a:hover {
    background-color: #696969;
    color: #fff;
}

/* Estilos para o nome */
h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: clamp(3rem, 10vw, 4rem);
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

/* Estilos para o nome quando em hover */
h1:hover {
    background-color: white;
    color: black;
}

/* Tamanho do texto na secção principal */
.bigHome {
    font-size: 2.5em;
}

.mediumHome {
    font-size: 1.15em;
}

/* Estilos para a disposição do conteúdo da secção principal */
.center {
    text-align: center;
}

.text, .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos para a fotografia de perfil */
#me {
    width: 99%;
    height: auto;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
}

/* Estilos para a caixa em volta da fotografia de perfil */
.box {
    margin-top: 100px;
    margin-bottom: 20px;
    position: relative;
    width: 300px;
    height: 375px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box span {
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: #0c1022;
    z-index: 1;
}

/* Estilos para o efeito em volta da fotografia de perfil */
.border-blur {
    position: absolute;
    width: 300px;
    height: 650px;
    background: transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    filter: blur(100px);
    z-index: 0;
}

.border-blur::before,
.border-blur::after {
    border-radius: 50%;
    height: 450px !important;
    width: 450px !important;
}

.box::after,
.border-blur::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(
        transparent,
        transparent,
        transparent,
        #d400d4
    );
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

.box::before,
.border-blur::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(
        transparent,
        transparent,
        transparent,
        #00ccff
    );
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Estilos para a galeria de fotografias */
.gallery {
    width: 100%;
    height: 650px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin-top: 100px;
}

.gallery-images {
    display: flex;
    transition: transform 1s ease;
}

/* Estilos para cada container que contém uma fotografia */
.image-wrapper {
    border-radius: 80px;
    overflow: hidden;
}

/* Estilo para cada fotografia */
.gallery-image {
    flex: 0 0 auto;
    margin: 0 50px;
    min-width: 300px;
    max-width: 500px;
    overflow: hidden;
    transition: transform 1s ease;
}

.gallery-image img {
    height: 500px;
    width: auto;
    border-radius: 30px;
}

/* Animação para dar zoom à imagem que está a ser vista */
.zoomed {
    transform: scale(1.2);
}

/* Estilos para o texto e a imagem quando é feito o zoom */
.zoomed-text {
    opacity: 0;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: opacity 0.2s ease;
    line-height: 25px;
}

.gallery-image.zoomed .zoomed-image {
    opacity: 0.2;
}

.gallery-image.zoomed .zoomed-text {
    display: block;
    opacity: 1;
}

/* Disposição da primeira e última imagem relativamente à galeria */
.first {
    margin-left: 100px;
}

.last {
    margin-right: 25px;
}

/* Estilos para os botões de navegação da galeria */
button {
    position: absolute;
    background-color: transparent;
    border: none;
    color: #cccccc;
    font-size: 18px;
    cursor: pointer;
}

button i {
    border: 2px solid #cccccc;
    background-color: #cccccc;
    color: #333;
    border-radius: 50%;
    padding: 8px 12px 8px 12px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* Tamanho do texto na galeria */
.big {
    font-size: larger;
}

.medium {
    font-size: medium;
}

/* Estilos para a secção dos projetos */
#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 200px;
}

/* Estilos para cada projeto */
.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    cursor: pointer;
    height: 360px;
    position: relative;
    width: 500px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-right: 50px;
}

.card h3 {
    color: #000;
}

.card-content {
    position: relative;
    z-index: 2;
}

.card-content h3,
.card-content h4 {
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 0;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-content h3 {
    padding-top: 120px;
}

/* Estilos para a imagem de cada projeto */
.card-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity 0.3s ease;
}

/* Animações para cada projeto e seu conteúdo quando em hover */
.card:hover {
    transform: scale(1.05);
}

.card:hover .card-content img {
    opacity: 0;
}

.card:hover .card-content h3,
.card:hover .card-content h4 {
    opacity: 1;
}

#cards:hover > .card::after {
    opacity: 1;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    z-index: 3;
}
  
.card::after {  
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.4),
        transparent 40%
    );
    z-index: 1;
}

.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

/* Estilos para a secção dos certificados */
#certsSec {
    padding-top: 300px;
    padding-bottom: 200px;
}

#certs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    padding-top: 150px;
    padding-bottom: 20px;
}

/* Estilos para cada caixa que contém um certificado */
.certificate-box {
    flex: 1;
    margin: 10px;
    padding: 30px 20px 40px 20px;
    background: #858585;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    height: 120px;
}

/* Estilos para o seu conteúdo */
.certificate-box h3 {
    color: #333;
}

.certificate-box p {
    opacity: 0;
    transition: opacity 0.3s ease;
    padding-top: 10px;
}

/* Animações para cada certificado quando em hover */
.certificate-box:hover {
    transform: scale(1.05);
}

.certificate-box:hover p {
    opacity: 1;
}

/* Estilos para o footer da página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
