body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, #DBE7FC, #3e59b3);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav .left, nav .right {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

nav p, nav a {
    text-decoration: none;
    color: #fff;
    margin: 0;
}

section {
    padding: 40px;
}

h2 {
    font-size: xx-large;
    color: #333;
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    flex: 1;
    margin-top: 30px;
    margin-left: 80px;
}

.image {
    flex: 1;
}

#me {
    width: 40%;
    height: auto;
    border: 10px solid #fff; /* White border */
    border-radius: 120px; /* Adjust the border-radius for a rounded frame */
    display: block;
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adding a subtle shadow */
}

.bigHome {
    font-size: 3em;
}

.giantHome {
    font-size: 5em;
}

.mediumHome {
    font-size: 1.2em;
}

.center {
    text-align: center;
}

.text, .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-content {
    display: flex;
}

.project {
    margin-bottom: 20px;
}

.big {
    font-size: larger;
}

.medium {
    font-size: medium;
}

.timeline {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.timeline-item {
    position: relative;
    flex: 1;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    margin-top: 40px;
    text-align: center;
    transition: transform 0.3s ease; /* Adding a transition for the zoom effect */
}

.timeline-item:hover {
    transform: scale(1.1); /* Zoom in effect on hover */
}

.timeline-item:hover:before {
    background: #fff; /* Color change effect on hover */
}

.timeline-item:hover p {
    opacity: 1; /* Show additional text on hover */
}

.timeline-item p {
    opacity: 0;
    transition: opacity 0.3s ease; /* Adding a transition for the text fade-in effect */
}

h3 {
    color: #333;
}

#path {
    padding-top: 20px;
    padding-bottom: 40px;
}

.image-container {
    position: relative;
    overflow: hidden;
    height: 250px; /* Adjust the height as needed */
}

.image-container img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease; /* Adding a transition for the fade-out effect */
    margin: -150px 0 0 0; 
}

.text-content {
    position: absolute;
    top: 0;
    left: 10;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease; /* Adding a transition for the fade-in effect */
}

.timeline-item:hover .image-container img {
    opacity: 0; /* Fade out the image on hover */
}

.timeline-item:hover .text-content {
    opacity: 1; /* Fade in the text content on hover */
}

.certificate-box {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease; /* Adding a transition for the zoom effect */
    cursor: pointer;
    height: 120px; /* Adjust the height as needed */
}

.certificate-box:hover {
    transform: scale(1.05); /* Zoom in effect on hover */
}

.certificate-box h3 {
    color: #333;
}

.certificate-box p {
    opacity: 0;
    transition: opacity 0.3s ease; /* Adding a transition for the text fade-in effect */
}

.certificate-box:hover p {
    opacity: 1; /* Show additional text on hover */
}

#certs {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping to the next line if needed */
    padding-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
